*{
  font-family: var(--font-montserrat);
}

._sidebar{
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  z-index: 20;
}

._content{
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: calc(100% - 200px); 
  padding-bottom: 4rem;
}
._sidebar_header{
  position: absolute;
  top: 0;
  width: 100%;
  height: 70px;
  padding: 1rem;
}
._sidebar_footer{
  position: absolute;
  bottom: 0;
  left: 0;
  height: 70px;
  padding: 1rem;
  width: 100%;
}

._sidebar_content{
  position: absolute;
  top: 70px;
  height: calc(100vh - 140px);
  padding: 1rem;
  overflow: auto;
  width: 100%;
}

._search_wrapper{
  position: fixed;
  bottom: 1rem;
  right: 0;
  width: calc(100% - 200px);
  z-index: 5;
}

._sidebar_trigger{
  display: none;
}

@media(max-width:800px){
  ._sidebar{
    width: 0;
    overflow: auto;
  }
  ._content{
    position: static;
    width: 100%;
    min-height: 100vh;
  }
  ._sidebar_trigger{
    display: block;
  }
  ._search_wrapper{
    width: 100%;
  }
}